<div class="company single">
    <div class="row">
        <div class="col-md-5">
            <div class="logo">
                <img {{ holderJs('75x75') }} src="{{ vich_uploader_asset(currentCompany.logo, 'file') }}" alt="{{ currentCompany.name }}" class="img-thumbnail" />
            </div>
            {{ renderSnippetUpdate( 'user_partner_company_update', {'partner': currentCompany.partner.slug, 'slug': currentCompany.slug} ) |raw }}
            {{ renderSnippetDelete( 'user_partner_company_delete', {'partner': currentCompany.partner.slug, 'slug': currentCompany.slug} ) | raw }}
        </div>
        <div class="col-md-7">
            <div class="about section">
                <h4 class="h5">{{ currentCompany.name }}</h4>
                <p>{{ currentCompany.about }}<p>
            </div>

            <div class="address section">
                <h4 class="h5">{{ 'layout.address' | trans }}</h4>
                <address>
                    <strong>{{ currentCompany.name }}</strong><br>
                    {{ currentCompany.address.address }}<br>
                    {{ currentCompany.address.zipCode }}, {{ currentCompany.address.city }}, {{ currentCompany.address.country }}<br>
                </address>
            </div>
        </div>
    </div>
</div>