{% extends "@Front/User/Profile/Common/index.html.twig" %}

{% block content %}
    <div class="compagnyLoop">

        <div class="row">

            {% block compagnies_sidebar %}
                <div class="col-md-5">

                    <div class="pos-f-t">
                        <div class="collapse show" id="navbarToggleExternalContent">
                            <div class="bg-dark pt-3">
                                <h4 class="pl-3 pr-3 text-white">
                                    {{ 'layout.compagny.compagny' | trans }}
                                    {% if partner.enabledByAdmin %}
                                        <a class="float-right" href="{{ path('user_partner_compagny_new', {'partner': partner.slug}) }}" title="">
                                            <i class="fas fa-plus"></i>
                                        </a>
                                    {% endif %}
                                </h4>
                                <ul id="compagnies" class="nav nav-pills flex-column">
                                    {% for compagny in partner.compagnies %}
                                        {% if currentCompagny is defined and compagny.id == currentCompagny.id %}
                                            {% set class = 'active' %}
                                        {% else %}
                                            {% set class = '' %}
                                        {% endif %}
                                        <li class="nav-item d-inline-block">
                                            <a class="nav-link rounded-0 {{ class }}" href="{{ path('user_partner_compagny_show',{'partner': partner.slug, 'slug': compagny.slug}) }}">
                                                {{ compagny.name }}
                                                <span class="badge badge-light badge-pill float-right">14</span>
                                            </a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                        <nav class="navbar navbar-dark bg-dark d-block d-sm-none">
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                        </nav>
                    </div>
                </div>
            {% endblock compagnies_sidebar %}

            <div class="col-md-7">
                {% block compagnies_content %}
                    
                {% endblock compagnies_content %}
                
                {#% if action is defined and action == 'show' %}
                    {% include '@Front/User/Profile/Partner/Compagny/show.html.twig' %}
                {% endif %}

                {% if action is defined and action == 'new' %}
                    {% include '@Front/User/Profile/Partner/Compagny/new.html.twig' %}
                {% endif %#}
            </div>
        </div>

    </div>
{% endblock content %}