{% extends "base.html.twig" %}

{% block body_tag_class %}front{% endblock body_tag_class %}
{% block header_tag_class %}d-none d-sm-block{% endblock header_tag_class %}
{% block content_tag_class %}pb-5{% endblock content_tag_class %}

{% block header_content %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-light bg-light" role="navigation">
        <div class="container position-relative">

            {% if is_granted('ROLE_USER') == false %}
                <ul class="nav position-absolute left-0 ml-3">
                    <li class="mr-2 nav-item first">        
                        <a href="{{ path('fos_user_registration_register', {'asuser': 'partner'}) }}" class="nav-link border border-success">    
                            {{ 'layout.join_network' | trans }}
                        </a>        
                    </li>
                </ul>
            {% endif %}

            {% if is_granted('ROLE_USER') and app.user.isAbonne %}
                <ul class="nav position-absolute left-0 ml-3">
                    <li class="mr-2 nav-item first">        
                        <a href="{{ path('page_carte_index') }}" class="nav-link border border-success">    
                            {{ 'layout.buy_carte' | trans }}
                        </a>        
                    </li>
                </ul>
            {% endif %}

            <a class="header-logo background-logo navbar-brand mx-auto p-0 text-hide" href="{{ path('home') }}">
                <span>NofiPlus.com</span>
            </a>

            {% if is_granted('ROLE_USER') == false %}
                {% set logoutMenu = knp_menu_get('logoutMenu', [], {'_route': app.request.attributes.get('_route')}) %}
                {{ knp_menu_render(logoutMenu) }}
            {% else %}

                {% if app.user.isAdmin == false %}    

                    {% if app.user.isPartner %}
                        {% set routeName = 'user_partner_index' %}
                        {% set routeParameter = {'partner': app.user.slug} %}
                    {% else %}
                        {% set routeName = 'user_abonne_index' %}
                        {% set routeParameter = {'abonne': app.user.slug} %}
                    {% endif %}

                    <ul class="nav position-absolute right-0">
                        <li class="mr-2 nav-item first">        
                            <a href="{{ path(routeName, routeParameter) }}" class="nav-link border border-success mr-2">    
                                <i class="fas fa-user mr-2"></i>{{ 'menu.account' | trans }}
                            </a>        
                        </li>
                        <li class="mr-2 nav-item first">        
                            <a href="{{ path('fos_user_security_logout') }}" class="nav-link border border-danger mr-2">    
                                <i class="fas fa-sign-out-alt mr-2"></i>{{ 'layout.logout' | trans }}
                            </a>        
                        </li>
                    </ul>

                {% else %} 
                    <ul class="nav position-absolute right-0">
                        <li class="mr-2 nav-item first">        
                            <a href="{{ path('fos_user_security_logout') }}" class="nav-link border border-danger mr-2">    
                                <i class="fas fa-sign-out-alt mr-2"></i>{{ 'layout.logout' | trans }}
                            </a>        
                        </li>
                    </ul>
                {% endif %}

            {% endif %}

        </div>
    </nav>
{% endblock header_content %}

{% block container_content %}

    {% include 'Snippet/flash.html.twig' %}

    <main role="main">

        {% block breadcrumb %}
            <div id="breadcrumb">
                <div class="container">
                    {% block breadcrumb_menu %}
                        {% include '@App/Menu/breadcrumb.html.twig' with {'aliasMenu': 'frontMain'} %}
                    {% endblock breadcrumb_menu %}
                </div>
            </div>
        {% endblock breadcrumb %}

        {% block page_title %}
            <div id="pageTitle" class="bg-light">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            {% block content_title_tag_start %}<h1 class="h2">{% endblock content_title_tag_start %}
                                {% block content_title %}
                                    Titre de la page
                                {% endblock content_title %}
                                {% block content_title_tag_end %}</h1>{% endblock content_title_tag_end %}
                        </div>
                    </div>
                </div>
            </div>
        {% endblock page_title %}

        <div id="content">
            <div class="container pt-4">
                {% block content %}Front content{% endblock content %}
            </div>
        </div>
    </main>
{% endblock container_content %}

{% block footer_tag_class %}
    fixed-bottom
{% endblock footer_tag_class %}

{% block footer_content %}

    <div class="d-block d-sm-none">

        {% set authorizeRoutes = ['home', 'user_partner_company_offre_category', 'user_partner_company_offre_single'] %}

        {# Category Menu #}
        {% if app.request.attributes.get('_route') in authorizeRoutes %}

            {% set menu = knp_menu_get('sidebarMenu', [], {'_route': app.request.attributes.get('_route'), 'offre': offre, 'categories': categories, 'is': 'footer'}) %}

            <div class="footer-category-menu fixed-bottom">
                <div class="collapse w-100" id="navbarToggleCategoryMenu">
                    <div class="bg-dark pt-2 pb-2 pl-0 pr-0">
                        <h4 class="d-none">Category Menu</h4>
                        {{ knp_menu_render(menu, {'currentClass': 'active rounded-0 border-left-0 border-right-0', 'allow_safe_labels': true}) }}
                    </div>
                </div>
                <nav class="navbar navbar-dark bg-secondary text-white">
                    <span class="current-category-name text-white"></span>
                    <i class="fas fa-caret-up cursor-pointer toggle-footer-category-menu" data-toggle="collapse" data-target="#navbarToggleCategoryMenu" aria-controls="navbarToggleCategoryMenu" aria-expanded="false" aria-label="Toggle navigation">
                    </i>
                </nav>
            </div>

        {% endif %}

        {# Footer Menu #}
        <div class="pos-f-t fixed-bottom">
            <div class="collapse" id="navbarToggleFooterMenu">
                <div class="bg-dark p-4">
                    {% set menu = knp_menu_get('mainMobileMenu', [], {'_route': app.request.attributes.get('_route')}) %}
                    {{ knp_menu_render(menu, {'currentClass': 'active', 'allow_safe_labels': true}) }}
                </div>
            </div>
            <nav class="navbar navbar-light bg-dark d-flex align-items-center text-white">

                <i class="fas cursor-pointer fa-bars position-absolute left-0 ml-3" data-toggle="collapse" data-target="#navbarToggleFooterMenu" aria-controls="navbarToggleFooterMenu" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </i>

                <a class="footer-logo navbar-brand background-logo text-hide mx-auto" href="{{ path('home') }}">
                    <span>NofiPlus.com</span>
                </a>
                <a href="{{ path('page_carte_index') }}" title="{{ 'layout.buy' | trans }}" class="position-absolute right-0 mr-3 btn btn-sm btn-outline-secondary border border-success">
                    {{ 'layout.buy' | trans }}
                </a>
            </nav>
        </div>

    </div>

    <div class="d-none d-sm-block bg-light">
        {% set footerMenu = knp_menu_get('footerMenu', [], {'_route': app.request.attributes.get('_route')}) %}
        {{ knp_menu_render(footerMenu) }}
    </div>
{% endblock footer_content %}
