{% extends "@Front/User/Profiles/index.html.twig" %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block content_title_tag_start %}
{% endblock content_title_tag_start %}
{% block content_title_tag_end %}
{% endblock content_title_tag_end %}

{% block content_title %}
    {% set profileMenu = knp_menu_get('profileMenu', [], {'_route': app.request.attributes.get('_route')}) %}
    {{ knp_menu_render(profileMenu) }}
{% endblock content_title %}

{% block content %}
    <div class="userSingle pt-5">

        {{ form_start(form) }}
        {{ form_errors(form) }}
       
        <div class="form-row">
            <div class="col-md-3 mb-3">
                <div class="text-center">
                    <img {{ holderJs('75x75') }} src="{{ asset(getAvatar(user.avatar)) }}" alt="" class="img-thumbnail">
                </div>
                <div class="custom-file mt-2">
                    {{ form_widget(form.avatar.file) }}
                    {{ form_label(form.avatar.file) }}
                    {{ form_errors(form.avatar.file) }}
                </div>
                
                <div class="form-row">
                    <div class="form-group col-12">
                        {{ form_label(form.socialNetworks) }}
                        {{ form_widget(form.socialNetworks) }}
                        {{ form_errors(form.socialNetworks) }}
                    </div>
                </div>
                    
            </div>
            <div class="col-md-8 ml-auto">

                <div class="form-row mb-2">
                    <div class="form-group col-12">
                        {{ form_label(form.username) }}
                        {{ form_widget(form.username) }}
                        {{ form_errors(form.username) }}
                    </div>

                    <div class="form-group col-12">
                        {{ form_label(form.phone) }}
                        {{ form_widget(form.phone) }}
                        {{ form_errors(form.phone) }}
                    </div>

                </div>

                <div class="form-row alert-success mb-2 p-2">
                    {#{ dump(form.birthday.vars.errors) }#}
                    <div class="form-group w-100">
                    {{ form_label(form.birthday) }}
                    {{ form_widget(form.birthday) }}
                    {{ form_errors(form.birthday) }}
                    </div>
                </div><!-- end .form-row -->

                <div class="form-row mb-2">
                    <div class="form-group col-md-4">
                        {{ form_label(form.gender) }}
                        {{ form_widget(form.gender) }}
                        {{ form_errors(form.gender) }}
                    </div>

                    <div class="form-group col-md-4">
                        {{ form_label(form.firstName) }}
                        {{ form_widget(form.firstName) }}
                        {{ form_errors(form.firstName) }}
                    </div>

                    <div class="form-group col-md-4">
                        {{ form_label(form.lastName) }}
                        {{ form_widget(form.lastName) }}
                        {{ form_errors(form.lastName) }}
                    </div>

                </div>

                <div class="form-row alert-success mb-2 p-2">
                    <div class="form-group col-12">
                        {{ form_label(form.quote) }}
                        {{ form_widget(form.quote) }}
                        {{ form_errors(form.quote) }}
                    </div>

                    <div class="form-group col-12">
                        {{ form_label(form.about) }}
                        {{ form_widget(form.about) }}
                        {{ form_errors(form.about) }}
                    </div>
                </div>

                <div class="form-row mb-2">

                    {{ form_label(form.address) }}
                    <div class="form-group col-12">
                        {{ form_label(form.address.country) }}
                        {{ form_widget(form.address.country) }}
                        {{ form_errors(form.address.country) }}
                    </div>
                    <div class="form-group col">
                        {{ form_label(form.address.city) }}
                        {{ form_widget(form.address.city) }}
                        {{ form_errors(form.address.city) }}
                    </div>
                    <div class="form-group col">
                        {{ form_label(form.address.zipCode) }}
                        {{ form_widget(form.address.zipCode) }}
                        {{ form_errors(form.address.zipCode) }}
                    </div>
                </div>   

                <div class="alert-success mb-2 p-2">

                    {{ form_label(form.soccerPost) }}

                    {% for post in form.soccerPost %}
                        <div class="form-check form-check-inline">
                            {{ form_label(post) }}
                            {{ form_widget(post) }}
                            {{ form_errors(post) }}
                        </diV>
                    {% endfor %}

                </div>

                <div class="form-group mt-3">
                    <input name="submit" class="btn btn-primary" type="submit" value="{{ 'form.update'|trans }}" />
                </div>
            </div><!-- end .col-md-8 -->
        </div><!-- end .form-row -->

        {{ form_end(form) }}
    </div>
{% endblock content %}

{% block footer_front_script %}
    
    {{ parent() }}
    
    <script type="text/javascript">
        jQuery(document).ready(function($) {
            $('.sfCollection').collection({
            //prototype_name: '{{ form.socialNetworks.vars.prototype.vars.name }}',
            //name_prefix:  '{{ form.socialNetworks.vars.full_name }}',
            allow_up: false,
            allow_down: false,
            add_at_the_end: true,
            min: 0,
            max: {{ collectionMax }},
            elements_selector: '> fieldset',
            add: '<a href="#" class="btn btn-default btn-block btn-outline-success"><i class="fa fa-plus"></i></a>',
            remove: '<a href="#" class="btn btn-default"><i class="fa fa-trash"></i></a>'
        });
        });
    </script>
    
{% endblock footer_front_script %}