{% extends "@Front/User/Profiles/index.html.twig" %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block content_title_tag_start %}
{% endblock content_title_tag_start %}
{% block content_title_tag_end %}
{% endblock content_title_tag_end %}

{% block content_title %}
    {% set profileMenu = knp_menu_get('profileMenu', [], {'_route': app.request.attributes.get('_route')}) %}
    {{ knp_menu_render(profileMenu) }}
{% endblock content_title %}

{% block content %}
    <div class="userSingle pt-5">

        {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
    {{ form_widget(form) }}
    <div class="form-group">
        <input name="submit" class="btn btn-primary" type="submit" value="{{ 'registration.submit'|trans }}" />
    </div>
{{ form_end(form) }}
    </div>
{% endblock content %}