{% extends "@Front/User/Profile/Common/index.html.twig" %}

{% block content %}
    <div class="companyLoop">

        <div class="row">

            {% block compagnies_sidebar %}
                <div class="col-md-5">

                    <div class="pos-f-t">
                        <div class="collapse show" id="navbarToggleExternalContent">
                            <div class="bg-dark pt-3">
                                <h4 class="pl-3 pr-3 text-white">
                                    {{ 'layout.company.company' | trans }}
                                    {% if partner.enabledByAdmin %}
                                        <a class="float-right" href="{{ path('user_partner_company_new', {'partner': partner.slug}) }}" title="">
                                            <i class="fas fa-plus"></i>
                                        </a>
                                    {% endif %}
                                </h4>
                                <ul id="compagnies" class="nav nav-pills flex-column">

                                    {% for company in compagnies %}
                                        {% if currentCompany is defined and company.id == currentCompany.id %}
                                            {% set class = 'active' %}
                                        {% else %}
                                            {% set class = '' %}
                                        {% endif %}
                                        <li class="nav-item d-inline-block">
                                            <a class="nav-link rounded-0 {{ class }}" href="{{ path('user_partner_company_show',{'partner': partner.slug, 'slug': company.slug}) }}">
                                                {{ company.name }}
                                                <span class="badge badge-light badge-pill float-right">{{ company.offres | length }} {{ 'layout.offres' | trans }}</span>
                                            </a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                        <nav class="navbar navbar-dark bg-dark d-block d-sm-none">
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                        </nav>
                    </div>
                </div>
            {% endblock compagnies_sidebar %}

            <div class="col-md-7">

                {% block compagnies_content %}
                    {% if partner.enabledByAdmin == false %}
                        <div class="alert alert-info">
                            <p>{{ 'layout.company.can_add' | trans }}</p>
                        </div>
                    {% endif %}
                    {% for company in compagnies %}
                        {% include '@Front/User/Profile/Partner/Company/single.html.twig' with {'currentCompany': company} %}
                        {% if loop.last == false %}<div class="border border-bottom mb-3"></div>{% endif %}
                    {% endfor %}
                {% endblock compagnies_content %}

            </div>
        </div>

    </div>
{% endblock content %}
