{% extends "@Front/Content/index.html.twig" %}

{% block breadcrumb_menu %}
    {% include '@App/Menu/breadcrumb.html.twig' with {'aliasMenu': menu} %}
{% endblock breadcrumb_menu %}


{% block content_page %}

    {# Compagny #}
    <h1 class="h4 font-weight-normal border-bottom pb-2">{{ offre.company.name }}</h1>
    <div class="w-100 mt-3">
        <img class="w-100 mx-auto" {{ holderJs('75x75') }} src="{{ vich_uploader_asset(offre.company.logo, 'file') }}" alt="">
    </div>

    {# L'Offre #}
    <h1 class="h4 font-weight-normal border-bottom mt-5 pb-2">L'offre</h1>
    <div class="row mt-4">
        <div class="col-sm-6">
            <img class="w-100 mx-auto" {{ holderJs('75x75') }} src="{{ vich_uploader_asset(offre.featured, 'file') }}" alt="">
        </div>
        <div class="col-sm-6 text-center">
            <p>{{ offre.category.name }}</p>
            {{ offre.about }}
        </div>
    </div>

    {# Comment profiter de l'offre #}
    <h1 class="h4 font-weight-normal border-bottom mt-5 pb-2">{{ 'layout.offre.how_enjoy' | trans }}</h1>

    {% if constant('ENJOY_BY_LOCATION', offre) in offre.howEnjoy or constant('ENJOY_BY_ALL', offre) in offre.howEnjoy %}
        <div class="row mt-3">
            <div class="col-sm-4">
                <h6>{{ 'layout.offre.location' | trans }}</h6>
            </div>
            <div class="col-sm-8 text-center">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ 'layout.offre.location' | trans }}</h5>
                        <p class="card-text">{{ offre.enjoyByLocation }}</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="border mt-3"></div>
    {% endif %}

    {% if constant('ENJOY_BY_WEB', offre) in offre.howEnjoy or constant('ENJOY_BY_ALL', offre) in offre.howEnjoy %}
        <div class="row mt-3">
            <div class="col-sm-4">
                <h6>{{ 'layout.offre.web' | trans }}</h6>
            </div>
            <div class="col-sm-8 text-center">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ 'layout.offre.web' | trans }}</h5>
                        <p class="card-text">{{ offre.enjoyByLocation }}</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="border mt-3"></div>
    {% endif %}

    {% if constant('ENJOY_BY_TEL', offre) in offre.howEnjoy or constant('ENJOY_BY_ALL', offre) in offre.howEnjoy%}
        <div class="row mt-3">
            <div class="col-sm-4">
                <h6>{{ 'layout.offre.tel' | trans }}</h6>
            </div>
            <div class="col-sm-8 text-center">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ 'layout.offre.tel' | trans }}</h5>
                        <p class="card-text">{{ offre.enjoyByLocation }}</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="border mt-3"></div>
    {% endif %}

{% endblock content_page %} 