{% extends "@Front/User/Profile/Common/index.html.twig" %}

{% block content %}

    <div class="userSingle mt-3">

        {% if is_granted( 'EDIT', user ) %}
            <div class="text-right mb-3">
                <a href="{% block update_link %}{% endblock update_link %}" role="button" class="btn btn-outline-success">{{ 'layout.update' | trans }}</a>
            </div>
        {% endif %}

        <h2 class="mt-3 mb-3">{{ user.username }}</h2>

        {# About #}

        <div class="about section bg-light p-3 mt-2">
            <h3 class="sectionTitle mb-3">{{ 'profile.show.about' | trans }}</h3>

            <div class="row">
                <div class="col-12">
                    {# Username and gender #}
                    <div class="row border-bottom">
                        <div class="col">
                            <label>{{ 'profile.show.username' | trans }}</label>
                        </div>
                        <div class="col">
                            {{ user.username }} {% if user.gender is not null %} - {{ user.gender | trans }} {% endif %}
                        </div>
                    </div>

                    {# First and Last name #}
                    <div class="row border-bottom">
                        <div class="col">
                            <label>{{ 'profile.show.name' | trans }}</label>
                        </div>
                        <div class="col">
                            {% if user.firstName is not null or user.lastName is not null %}
                                {{ user.firstName }} {{ user.lastName }}
                            {% else %}
                                {{ 'empty' | trans }}
                            {% endif %}
                        </div>
                    </div>

                    {# Birthday #}
                    <div class="row">
                        <div class="col">
                            <label>{{ 'profile.show.birthday' | trans }}</label>
                        </div>
                        <div class="col">
                            {% if user.birthday is not null %}
                                {{ user.birthday |date('Y/m/d', 'Europe/Paris') |default('empty' | trans) }}
                            {% else %}
                                {{ 'empty' | trans }}
                            {% endif %}
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="contact section p-3 mt-2">
            {# Contact #}
            <h3 class="sectionTitle mb-3">{{ 'profile.show.contact' | trans }}</h3>

            <div class="row">
                <div class="col-12">
                    {# Mobile and Fixed phone, only for partner user #}
                    {% if user.isPartner %}
                        <div class="row">
                            <div class="col">
                                <label>{{ 'profile.show.phone.phone_number' | trans }}</label>
                            </div>
                            <div class="col">
                                {% if user.phoneMobile is not null or user.phoneFixed is not null %}
                                    {{ user.phoneMobile | phone_number_format('INTERNATIONAL') }} 
                                    {{ user.phoneFixed | phone_number_format('INTERNATIONAL') }}
                                {% else %}
                                    {{ 'empty' | trans }}
                                {% endif %}
                            </div>
                        </div>
                    {% endif %}

                    {# Addresse #}
                    <div class="row">
                        <div class="col">
                            <label>{{ 'profile.show.address.address' | trans }}</label>
                        </div>

                        <div class="col">
                            {% if user.address is not null %}
                                {{ user.address.address }}, {{ user.address.zipCode }} - {{ user.address.city }} - {{ user.address.country }}
                            {% else %}
                                {{ 'empty' | trans }}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% if user.isAbonne %}
            <div class="cartes section bg-light p-3 mt-2">
                {# Cartes #}
                <h3 class="sectionTitle mb-3">{{ 'profile.show.cartes' | trans }}</h3>

                <div class="row">
                    <div class="col-12">
                        {# Cartes liste #}
                        {% for carte in user.cartes %}
                            <div class="row">
                                <div class="col-md-6">
                                    <label>{{ carte.order.carte.name }}</label>
                                </div>

                                <div class="col-md-6">
                                    {# numéro carte #}
                                    <div class="row border-bottom">
                                        <div class="col">
                                            {{ 'profile.show.carte.number' | trans }}
                                        </div>
                                        <div class="col">
                                            {{ carte.number }}
                                        </div>
                                    </div>

                                    <div class="row border-bottom">
                                        <div class="col">
                                            {{ 'profile.show.carte.category' | trans }}
                                        </div>
                                        <div class="col">
                                            {{ carte.category.name }}
                                        </div>
                                    </div>

                                    <div class="row border-bottom">
                                        <div class="col">
                                            {{ 'profile.show.carte.validity' | trans }}
                                        </div>
                                        <div class="col">
                                            {{ carte.start | date('d/m/Y') }} - {{ carte.end | date('d/m/Y') }}
                                        </div>
                                    </div>

                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div class="orderHistory section p-3 mt-2">
                {# Historique de commande #}
                <h3 class="sectionTitle mb-3">{{ 'profile.show.order.history' | trans }}</h3>

                {# Order liste #}
                <div id="accordion">
                    {% for order in user.orderCartes %}

                        {% set paymentInst = order.paymentInstruction %}
                        {% if paymentInst is not empty %}
                            {% set payment     = paymentInst.payments[0] %}
                            {% set transaction = payment.transactions[0] %}
                        {% endif %}
                        {% set product     = order.carte %}

                        <div class="card mb-3">
                            <div class="card-header" id="heading{{ loop.index }}">
                                <h5 class="mb-0">
                                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapse{{ loop.index }}" aria-expanded="true" aria-controls="collapse{{ loop.index }}">
                                        Commande numéro #{{ order.id }}
                                    </button>
                                    {{ renderPaymentState(payment.state) | raw }}
                                </h5>
                            </div>

                            <div id="collapse{{ loop.index }}" class="collapse {% if loop.index == 1 %}show{% endif %}" aria-labelledby="heading{{ loop.index }}" data-parent="#accordion">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <label>{{ 'profile.show.products' | trans }}</label>
                                        </div>

                                        <div class="col-md-9">

                                            <div class="row border-bottom">
                                                <div class="col">
                                                    {{ 'profile.show.product_carte.name' | trans }}
                                                </div>
                                                <div class="col">
                                                    {{ product.name }}
                                                </div>
                                            </div>

                                            <div class="row border-bottom">
                                                <div class="col">
                                                    {{ 'profile.show.product_carte.amount' | trans }}
                                                </div>
                                                <div class="col">
                                                    {{ product.amount }}
                                                </div>
                                            </div>

                                            <div class="row border-bottom">
                                                <div class="col">
                                                    {{ 'profile.show.product_carte.about' | trans }}
                                                </div>
                                                <div class="col">
                                                    <p>
                                                        {% autoescape %}
                                                            {{ product.about | raw }}
                                                        {% endautoescape %}
                                                    </p>
                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                    {% endfor %}
                </div>
            </div>

        {% endif %}

    </div>
{% endblock content %}