{% extends "@Front/Payment/OrderCarte/index.html.twig" %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block content %}

    {{ form_start(form) }}
   
    <div class="row">
        <div class="col-sm-8">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ 'form.order.order' | trans }}</h5>
                    {# Gender, first name and last name #}
                    <div class="form-row mb-2">
                        <div class="form-group col-md-4">
                            {{ form_label(form.orderCarte.user.gender) }}
                            {{ form_widget(form.orderCarte.user.gender) }}
                            {{ form_errors(form.orderCarte.user.gender) }}
                        </div>

                        <div class="form-group col-md-4">
                            {{ form_label(form.orderCarte.user.firstName) }}
                            {{ form_widget(form.orderCarte.user.firstName) }}
                            {{ form_errors(form.orderCarte.user.firstName) }}
                        </div>

                        <div class="form-group col-md-4">
                            {{ form_label(form.orderCarte.user.lastName) }}
                            {{ form_widget(form.orderCarte.user.lastName) }}
                            {{ form_errors(form.orderCarte.user.lastName) }}
                        </div>

                    </div>

                    {# Birthday #}
                    <div class="form-row alert-success mb-2 p-2">
                        {#{ dump(form.orderCarte.user.birthday.vars.errors) }#}
                        <div class="form-group w-100">
                            {{ form_label(form.orderCarte.user.birthday) }}
                            {{ form_widget(form.orderCarte.user.birthday) }}
                            {{ form_errors(form.orderCarte.user.birthday) }}
                        </div>
                    </div>

                    {# Address de livraison #}
                    <div class="form-row mb-2">

                        {{ form_label(form.orderCarte.user.address, 'form.order.address.shipping') }}
                        <div class="form-group col-md-6">
                            {{ form_label(form.orderCarte.user.address.address) }}
                            {{ form_widget(form.orderCarte.user.address.address) }}
                            {{ form_errors(form.orderCarte.user.address.address) }}
                        </div>
                        <div class="form-group col-md-6">
                            {{ form_label(form.orderCarte.user.address.country) }}
                            {{ form_widget(form.orderCarte.user.address.country) }}
                            {{ form_errors(form.orderCarte.user.address.country) }}
                        </div>
                        <div class="form-group col-md-6">
                            {{ form_label(form.orderCarte.user.address.zipCode) }}
                            {{ form_widget(form.orderCarte.user.address.zipCode) }}
                            {{ form_errors(form.orderCarte.user.address.zipCode) }}
                        </div>
                        <div class="form-group col-md-6">
                            {{ form_label(form.orderCarte.user.address.city) }}
                            {{ form_widget(form.orderCarte.user.address.city) }}
                            {{ form_errors(form.orderCarte.user.address.city) }}
                        </div>
                    </div>   

                    <div class="form-row">
                        <div class="form-group col">
                            {{ form_label(form.orderCarte.shipping_as_billing_address) }}
                            {{ form_widget(form.orderCarte.shipping_as_billing_address, {'attr': {'class': 'shipping_as_billing_address'} }) }}
                            {{ form_errors(form.orderCarte.shipping_as_billing_address) }}
                        </div>
                    </div>

                    <div id="billingAddress" class="form-row mb-2">
                        {{ form_label(form.orderCarte.address, 'form.order.address.billing') }}
                        <div class="form-group col-md-6">
                            {{ form_label(form.orderCarte.address.address) }}
                            {{ form_widget(form.orderCarte.address.address) }}
                            {{ form_errors(form.orderCarte.address.address) }}
                        </div>
                        <div class="form-group col-md-6">
                            {{ form_label(form.orderCarte.address.country) }}
                            {{ form_widget(form.orderCarte.address.country) }}
                            {{ form_errors(form.orderCarte.address.country) }}
                        </div>
                        <div class="form-group col-md-6">
                            {{ form_label(form.orderCarte.address.zipCode) }}
                            {{ form_widget(form.orderCarte.address.zipCode) }}
                            {{ form_errors(form.orderCarte.address.zipCode) }}
                        </div>
                        <div class="form-group col-md-6">
                            {{ form_label(form.orderCarte.address.city) }}
                            {{ form_widget(form.orderCarte.address.city) }}
                            {{ form_errors(form.orderCarte.address.city) }}
                        </div>
                    </div>  

                </div><!-- .card-body -->
            </div><!-- .card -->
        </div><!-- .col-sm-8 -->

        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ 'form.order.product' | trans }}</h5>

                    <p>
                        {{ orderCarte.carte.name }}
                    </p>

                    {# Methode de paiement #}
                    <div class="form-row">
                        <div class="form-group col">
                            {{ form_label(form.method) }}
                            {{ form_widget(form.method) }}
                            {{ form_errors(form.method) }}
                        </div>
                    </div>

                    {# Total #}
                    <h6 class="h5">{{ 'form.order.total' | trans }}</h6>
                    <p>{{ orderCarte.amount }} €</p>

                </div>
                <input class="btn btn-primary rounded-0 rounded-bottom" type="submit" value="{{ 'form.order.buy' | trans }}" />
            </div>
        </div>
    </div>

    {{ form_end(form) }}
{% endblock content %}

{% block footer_front_script %}
    <script src="{{ asset('build/order.js') }}"></script>
{% endblock footer_front_script %}
