{% extends "@App/Base/admin.html.twig" %}

{% block content_title %}
    Soccer post {{ renderSnippetNew( 'soccer_post_new', {} ) |raw }} 
{% endblock content_title %}

{% block content %}
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#ID</th>
                <th scope="col">Post</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for post in entities %}
                <tr>
                    <th scope="row">{{ post.id }}</th>
                    <td>{{ post.post }}</td>
                    <th>
                        {{ renderSnippetUpdate( 'soccer_post_update', {'id': post.id} ) |raw }}
                        {{ renderSnippetDelete( 'soccer_post_delete', {'id': post.id} ) | raw }}
                    </th>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}
