
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{{ form_start(form) }}
{{ form_errors(form) }}

<div class="form-row">
    <div class="form-group col">
        {{ form_label(form.name) }}
        {{ form_widget(form.name) }}
        {{ form_errors(form.name) }}
    </div>
</div>

<div class="form-row">
    <div class="form-group col">
        {{ form_label(form.about) }}
        {{ form_widget(form.about) }}
        {{ form_errors(form.about) }}
    </div>
</div>    

<div class="form-row">
    <legend class="col-form-legend required">{{ form_label(form.address) }}</legend>
    <div class="form-group col-12">
        {{ form_label(form.address.address) }}
        {{ form_widget(form.address.address) }}
        {{ form_errors(form.address.address) }}
    </div>

    <div class="form-group col-6">
        {{ form_label(form.address.zipCode) }}
        {{ form_widget(form.address.zipCode) }}
        {{ form_errors(form.address.zipCode) }}
    </div>

    <div class="form-group col-6">
        {{ form_label(form.address.city) }}
        {{ form_widget(form.address.city) }}
        {{ form_errors(form.address.city) }}
    </div>

    <div class="form-group col-12">
        {{ form_label(form.address.country) }}
        {{ form_widget(form.address.country) }}
        {{ form_errors(form.address.country) }}
    </div>
</div>

<div class="mb-3">
    {{ form_label(form.logo) }}
    <div class="custom-file col-12">
        
        {{ form_widget(form.logo) }}
        {{ form_errors(form.logo) }}
        <label for="{{ form.logo.vars.id }}"
               class="custom-file-label col-form-legend {{ form.logo.vars.required ? 'required' : '' }}">
            {{ form.logo.vars.label | trans }}
        </label>
    </div>
</div>

<div class="form-group">
    {{ form_label(form.category, null, {'compound': false}) }}
    <div>
        {% for category in form.category %}
            <div class="form-check form-check-inline">
                {{ form_widget(category) }}
                {{ form_label(category, {'compound': false}) }}
                {{ form_errors(category) }}
            </div>
        {% endfor %}
    </div>
</div>

<div class="form-group mt-3">
    <input name="submit" class="btn btn-primary" type="submit" value="{{ (action is not defined) ? 'form.new' | trans : ('form.' ~ action) | trans }}" />
</div>

{{ form_end(form) }}

